body
{
    background-color:#c8c8c8;
    margin:0;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 13pt;
}

div.content
{
    margin-left:auto;
    margin-right:auto;
    max-width:700px;
}

div.marginContainer
{
    margin-left: 16px;
    margin-right: 16px;
}

.center
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

div.bg
{
    background-color:#fff;
    padding:8px;
}

div.title
{
    background-color:#4d4d4d;
    color:#fff;
    padding:8px;
    font-weight:bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, textarea
{
    width:100%;
    border:1px solid #c8c8c8;
    padding:4px;
    margin:2px;
    resize: none;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    font-size: 13pt;
}

.button
{
    background-color:#9cff80;
    padding:8px;
    font-weight:bold;
}

textarea#message
{
    height:150px;
    margin-bottom:-2px;
}

table
{
    width:100%;
    border-collapse:collapse;
}

table tr:first-child td {
    font-weight:bold;
    border-bottom:1px solid #959595;
}

hr
{
    height: 1px;
    background: #959595;
    width: 716px;
    margin-left: -8px;
    border:0;
}