@{
    Layout = null;
}

<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="style.css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body>
        <div class="content title">
            Hello World
        </div>
        <div class="content bg">
            Hello world.
        </div>
    </body>
</html>
